body {
    margin: 0;
    padding: 0;
}

*,*::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav-links li  {
    list-style-type: none;
}


.line {
    height: 5px;
    width: 50px;
    background: black;
    padding: 2px;
    display: block;
    margin: 5px;
}

 .short-line {
    width: 30px;
}