body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*,*::before, *::after {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
}


.logo {
    font-weight: bold;
    font-size: 50px;
}


.nav-links  {
    list-style-type: none;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 5em;
}



a {
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;
    display: block;
}




.hamburger {
    padding: 10px;
}

.hamburger .line {
    height: 5px;
    width: 50px;
    background: black;
    padding: 2px;
    display: block;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}


.hide {
    display: none;
}

/* for mobile phones */

@media screen and (min-width: 600px) {
    .nav-links {
        position: static;
        display: block;
        width: auto;
        padding: 20px 25px;
    }

    .nav-links a {
        display: inline-block;
        margin: 7px;
        background: none;
    }

    .hamburger {
        display: none;
    }
}