body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

*,*::before, *::after {
    box-sizing: border-box;
}

.line {
    height: 10px;
    width: 50px;
    background: black;
    padding: 5px;
}